@model ONEE_BE_v2.Models.Offre

@{
    ViewData["Title"] = "Supprimer les offres";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Offre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nbr_places)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nbr_places)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary"><i class="fa fa-arrow-left"></i>Back to List</a>
    </form>
</div>
