@model ONEE_BE_v2.Models.Offre

@{
    ViewData["Title"] = "Details d'offre";
}

<h1>Details</h1>

<div>
    <h4>Offre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nbr_places)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nbr_places)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary"><i class="fa fa-pencil"></i>Edit</a> |
    <a asp-action="Index" class="btn btn-primary"><i class="fa fa-arrow-left"></i>Back to List</a>
</div>
<script src="~/js/site.js"></script>
