@model IEnumerable<ONEE_BE_v2.Models.Offre>

@{
    ViewData["Title"] = "Gestion des offres";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"> <i class="fa fa-plus"></i>Créer une annonce</a>
</p>
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbr_places)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Action
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nbr_places)
            </td>
             <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            <td>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-pencil"></i>Edit</a>
                    <!--<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-eye"></i>Details</a>-->
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
