@model IEnumerable<ONEE_BE_v2.Models.Candidature>

@{
    ViewData["Title"] = "Candidatures";
}

<h1>Index</h1>
<link rel="stylesheet" href="~/css//site.css" />
<!--<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datepostulation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emploiprecedent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statusfamiliale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(c => c.Status.Equals("Non Validé", StringComparison.OrdinalIgnoreCase)))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datepostulation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emploiprecedent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.statusfamiliale)
                </td>
                <td>
                    <!--<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-pencil"></i>Edit</a> | -->
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-eye"></i>Details</a>
                    <!--<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
                </td>
            </tr>
        }

    </tbody>
</table>
