@model ONEE_BE_v2.Models.Candidature

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Candidature</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.motdepasse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.motdepasse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datepostulation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datepostulation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ville)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emploiprecedent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emploiprecedent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nompere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nompere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nommere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nommere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datenaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datenaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statusfamiliale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statusfamiliale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<div>
    <!--<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary"><i class="fa fa-pencil"></i>Edit</a> | -->
    <a asp-action="Index" class="btn btn-primary"><i class="fa fa-arrow-left"></i>Back to List</a>
</div>
